
*{ 
  margin: 0px; 
  padding: 0px; 
} 
body {
  font-family: 'Inconsolata';
  padding: 0px;
  margin: 0px;
  background-color: #FAEEC9;
}
nav{
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
.nav_img{
  margin-left: 10%;
}
nav img{
  height: 40px;
  margin: 10px;
  cursor: pointer;
  height: 30px;
}
nav ul{
  display: none;
}

@media (min-width: 767px) { 
  .options_icon{
      display: none;
  }
  .nav_img{
      margin: 10px;
      cursor: pointer;
      width: 20px;
  }
  nav ul{
      font-weight: 600;
      font-size: large;
      list-style: none; 
      text-decoration: none;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding-right: 50px;
      margin-top: 25px;
      gap: 70px;
      cursor: pointer;
  }
  nav button{
    font-family: 'Inconsolata';
    font-size: 15px;
      border: none;
      border-radius: 20px;
      font-weight: 600;
      background-color: #FDD500;
      padding: 7px 20px 7px 20px;
      letter-spacing: 1px;
      cursor: pointer;

  }
.loginpage
{ 
  margin-top: 110px;
  width: 100% ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Login
{
  width: 370px ;
  height: 400px;
  background-color: #FCF4DD;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  text-align: center;
}
.card1
{
  width: 370px ;
  height: 400px;
  background-color: #FDD500;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

h5{
  font-size: 30px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}
h6{
  font-size: 13px;
  font-weight: 400;
  color: rgb(104, 104, 104);
}
.hed{
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bubles
{ 
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.bubles .b{
  height: 30px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
}
#b1{
  background-image: url(./pictures/Facebook.png);
  background-size: cover;
}
#b2{
  background-image: url(./pictures/Google.png);
  background-size: cover;
}
#b3{
  background-image: url(./pictures/Linkdin.png);
  background-size: cover;
}
.conta{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cont{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.inputs
{
  width:250px ;
  height: 35px;
  border-radius: 10px;
  background-color: #F2E8C9;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
}

.but1
{
  font-family: 'Inconsolata';
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  border: none;
  background-color: #FDD500;
  cursor: pointer;
}
.card1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.textleft
{ 
  width: 210px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;

}
.textleft h6
{
  color: rgb(83, 83, 83);
}

.but2
{
  width: 110px;
  font-family: 'Inconsolata';
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #FDD500;
  cursor: pointer;
}


} 